// swift-tools-version:5.4.0

import PackageDescription

let package = Package(
    name: "$frameworkName",
    platforms: [
        .iOS(.v12)
    ],
    products: [
        .library(
            name: "$frameworkName",
            targets: ["$frameworkName"]
        )
    ],
    dependencies: [
    ],
    targets: [
        .binaryTarget(
            name: "$frameworkName",
            url: "$repoUrl/releases/download/v$version/$distName",
            checksum: "$checksum"
        )
    ]
)
