<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
    <metadata>
        <id>MassifMaps.Android</id>
        <title>Massif Maps for Xamarin Android</title>
        <version>$version</version>
        <authors>Massif Maps</authors>
        <icon>images/MassifMaps.png</icon>
        <license type="expression">BSD-3-Clause</license>
        <projectUrl>https://massif-maps.github.io/MassifMaps/</projectUrl>
        <requireLicenseAcceptance>false</requireLicenseAcceptance>
        <description>Massif Maps for Android</description>
        <summary>Advanced cross-platform Maps library with offline vector tiles, GIS and 3D features</summary>
        <copyright>Copyright CartoDB, Inc.</copyright>
    </metadata>
    <files>
        <file src="$baseDir/scripts/nuget/MassifMaps.png" target="images/" />
        <file src="$baseDir/build/xamarin_android/bin/$configuration/*.Android.*" target="lib/MonoAndroid230" />
    </files>
</package>
